/*Chen BingXu works copyright Css*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Noto Sans JP', sans-serif;
	color: #000;
	font-weight: 400;
}
/*RWD*/
@media screen and (max-width: 750px){
	.main .box{
		justify-content: center;
		text-align: center;
	}
}

/*整體 class 快速套用*/
	/*顏色變數*/
:root{
	--greay: #383635;
	--gold: #ffbd45;
	--white: #fff;
}

.bk{
	position: fixed;
	width: 100%;
	height: 100vh;
	background-image: url(../img/bg00.png);
	background-size: cover;
	z-index: -1;
}

html{
	scroll-behavior: smooth;
}
li,p,span{
	font-size: 24px;
	font-weight: 400;
}
h1{
	font-size: 75px;
}
h2{
	font-size: 45px;
}
h3{
	font-size: 28px;
}


.content{
	max-width: 1200px;
	height: 100vh;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img{
	/*overflow: hidden;*/
}
.bgs{
	width: 100%;
	height: 100vh;
	/*overflow: hidden;*/
	position: relative;
}
.bg{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}
.bg img{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: auto;
}
#EasterEgg{
	position: absolute;
	left: 150px;
	bottom: 50px;
	padding: 20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	z-index: 10;
	background: transparent;
	border: 0;
}
#EasterEgg02{
	position: absolute;
	right: 90px;
	bottom: 85px;
	padding: 20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	z-index: 10;
	background: transparent;
	border: 0;
}
#scroll08{
	bottom: -420px;
}








/*圓點*/
#cursor{
	position: fixed;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #555;
	transition: .1s ease-out;
	transform: translate(calc(var(--x) - 25px),calc(var(--y) - 25px ));
	z-index: 10000;
	pointer-events: none;
}
/*右邊選單*/
.menu{
	position: fixed;
	width: 80px;
	height: 80px;
	right: 40px;
	bottom: 20px;
	border: 2px solid #fff;
	border-radius: 50%;
	background-color: var(--greay);
	z-index: 10;
	cursor: pointer;
}

.menu .lines{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menu .line{
	width: 50px;
	height: 6px;
	margin: 5px;
	transition: .5s;
	background-color: #fff;
}

.menu:hover .line:nth-child(1){
	transform: rotate(45deg);
	transform-origin: 2px 10px;

}
.menu:hover .line:nth-child(2){
	opacity: 0;

}
.menu:hover .line:nth-child(3){
	transform: rotate(-45deg);
	transform-origin: 7px 0px;
}

.menu-bg{
	position: fixed;
	z-index: -100;
}




/*左邊選單*/
.nav{
	position: fixed;
	width: 175px;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--white);
	border-right: 1px solid #888;
	z-index: 1;
}
.nav-h{
	padding-top: 50px;
	writing-mode: vertical-rl;
	letter-spacing: .5em;
}
.nav-h h3 a{
	color: var(--greay);
	transition: .5s;
}
.nav-h h3 a:hover{
	color: var(--gold);
}
.nav-ul li{
	padding: 15px 0;
	text-align: center;
}
.nav-ul a{
	color: var(--greay);
	position: relative;
	transition: .5s;
}
.nav-ul a:hover{
	color: var(--gold);
}
.nav-ul a:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	background-color: var(--gold);
	transition: .5s;
}
.nav-ul a:hover:before{
	width: 100%;
}
.nav-b{
	width: 100%;
	padding: 10px 0;
	text-align: center;
	background-color: var(--greay);
}
.nav-b a{
	color: #fff;
}

/*右邊主體*/

.container{
	margin-left: 175px;
}


.main{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	/*background-image: url(../img/m-bg.png);
	background-size: cover;
	background-repeat: no-repeat;*/
}

.main .sign{
	position: absolute;
	top: 70px;
	right:0;
}
.main .sign{
	width: 350px;
	height: 70px;
	background-image: url("../img/sign.svg");
	background-size: auto;
	background-repeat: no-repeat;
}
.main .sign .txt{
	width: 300px;
	overflow: hidden;
}
.main .sign h2{
	font-size: 28px;
	width: 400px;
	padding: 10px;
	color: #fff;
	animation: marquee 10s linear infinite;
}
@keyframes marquee{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}
.main .airship,.cloud{
	position: absolute;
	top: 150px;
	left: 0;
	width: 100%;
	overflow: hidden;
}
.main .airship img{
	width: 200px;
	height: auto;
	animation: flying 60s linear infinite;
	z-index: -2;
}
.main .cloud:nth-child(even){
	top: 240px;
	z-index: -1;
}
.main .cloud:nth-child(odd){
	top: 300px;
	z-index: -1;
}
.main .cloud img{
	width: 200px;
	height: auto;
	animation: flying 30s ease-in infinite;
}
.main .cloud:nth-child(odd) img{
	width: 350px;
	animation: flying 35s reverse ease-in infinite;
	z-index: -10;
}
@keyframes flying{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(200vh);
	}
}
.main .box{
	display: flex;
	flex-wrap: wrap;
	transform: translate(calc(var(--x) * -1 /80), calc(var(--y) * -1 /80));
}
.main .txt{
	margin-left: 50px;
}

.main .box h1{
	font-size: 70px;
}
.main .box h1 span{
	animation: flash .5s ease-in-out infinite alternate;
}
@keyframes flash{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.main .box h2{
	font-size: 45px;
}
.main .box h3{
	font-size: 28px;
}
.main .box img{
	width: 174px;
	height: auto;
}

.main .scroll{
	position: absolute;
	bottom: 40px;
	margin: auto;
	z-index: 1;
}

.main .scroll p{
	color: #aaabab;
}
.main .scroll .mouse{
	position: relative;
	margin: auto;
	width: 40px;
	height: 65px;
	border-radius: 50px;
	transition: .5s;
	border:2px solid #aaabab;
}
.main .scroll:hover .mouse{
	transform: translateY(-10px);
}
.main .scroll .mouse .dot{
	position: absolute;
	left: 16px;
	top: 10px;
	border-radius: 2px;
	width: 4px;
	height: 15px;
	background-color: #aaabab;
	animation: scroll 2s 0s infinite alternate;
}
@keyframes scroll{
	0%{
		transform: translateY(5px);
	}
	100%{
		transform: translateY(30px);
	}
}
.main .bottombg{
	position: absolute;
	/*bottom: 0;*/
	width: 100%;
	height: 20px;
	background-color: var(--greay);
}


.about{
	width: 100%;
	height: 100vh;
}
.about img{
	max-width: 550px;
	height: 700px;
}
.about .txt{
	position: relative;
	max-width: 500px;
	height: 70vh;
	margin-left: 40px;
	padding: 5px;
}
.about .txt h2{
	margin: 20px 0;
}
.about .txt p{
	margin: 20px 0;
	line-height: 2em;
}
.about .txt button{
	position: absolute;
	border: 0;
	border-radius: 2px;
	background-color: transparent;
	right: 0;
	bottom: 0;
	padding: 10px;
	margin: 10px 0;
	font-size: 28px;
	cursor: pointer;
	transition: .5s;
}
.about .txt button:hover{
	color: var(--gold);
}
.about .txt button:before{
	content: "";
	position: absolute;
	width: 120%;
	height: 2px;
	left: -10%;
	bottom: 0;
	transform: scale(0);
	transition: .5s;
	background-color: var(--gold);
}
.about .txt button:hover:before{
	transform: scale(1.0);
}

.data{
	margin-top: 10%;
}
.data .content{
	max-width: 1024px;
	padding: 20px;
	height: auto;
	flex-direction: column;
	align-items: flex-start;
}
.data .box{
	width: 100%;
	padding: 20px 0;
}
.data li{
	padding: 10px 20px;
}



.exper .content{
	max-width: 1024px;
	padding: 20px 0;
	height: auto;
	flex-direction: column;
	align-items: flex-start;
}
.exper .box{
	width: 100%;
	padding: 20px;
}

.exper h2{
	margin-bottom: 10px;
}
.exper li{
	padding: 20px;
}
.exper .box li{
	position: relative;
}
.exper .box:nth-child(1) li span{
	margin-left:150px ;
}
.exper .box:nth-child(1) li:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: var(--greay);
	left: 0;
	bottom: 0;
}
.exper .box:nth-child(2) li:before{
	content: "";
	position: absolute;
	width: 50%;
	padding: 5px;
	right: 0%;
	border: 1px solid var(--greay);
	border-radius: 50px;
}
.exper .box:nth-child(2) li:after{
	content: "";
	position: absolute;
	width: 50%;
	padding: 5px;
	right: 0%;
	background-color: var(--greay);
	border-radius: 50px;
}




.portfolio{
	position: relative;
}
.portfolio .content{
	height: auto;
}
.portfolio .wrap{
	display: grid;
	grid-template-columns: repeat(3,minmax(100px,auto));
}
.portfolio .card{
	position: relative;
	overflow: hidden;
	margin: 20px;
}
.portfolio .card img{
	width: 100%;
	height: auto;
	transition: .2s;
}
.portfolio .txt{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 40px 20px;
	transition: .5s;
	transform: translateX(100%);
	background-color: #555d;
}
.portfolio .card:hover .txt{
	transform: translateX(0);
}
.portfolio .txt h2{
	position: relative;
	padding-bottom: 10px;
	color: #fff;
}
.portfolio .txt h2:before{
	content: "";
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #fff;
}

.portfolio .txt p{
	padding-top: 10px;
	color: #fff;
}








.contact{
	width: 100%;
	height: 100vh;
	background-color: var(--greay);
}
.contact h2,
.contact h3,
.contact p,
.contact span{
	color: #fff;
}
.contact form{
	width: 300px;
	display: flex;
	flex-direction: column;

}
.contact input,
.contact textarea{
	padding: 5px 10px;
	margin: 10px 0;
	font-size: 20px;
	border-radius: 5px;
}
.contact input[type="submit"]{
	position: relative;
	background-color: #fff;
	color: var(--greay);
	border: none;
	padding: 8px 0;
}
.contact input[type="submit"]:hover{
	background-color: var(--gold);
	color: #fff;
}
.contact textarea{
	resize: none;
	width:	100%;
	height: 6em;
}

.contact .txt{
	margin-left: 50px;
}
.contact .txt .link{
	display: flex;
}
.contact .txt .link a{
	margin: 10px;
	width: 80px;
	height: 80px;
}
.contact h2,
.contact p{
	margin: 10px 0;
}






















